$nav-button-color: #000000;
$nav-button-color-text: #ffffff;
$nav-button-color-hover: rgb(92, 92, 92);
$milky-white: #eceeef;
$text-color-heading: #000000;
$text-color: #000;
$light-backgound: #ffffff;

